<template>
  <div>
    <header>
      <div class="container-fluid">
        <div class="header-wrapper">
          <div class="logo">
            <img src="@/assets/logo.png" alt="">
          </div>
          <div class="hamburger-menu">
            <b>MENU</b>
            <span @click="isOpen = !isOpen" class="open-menu" :class="{'active':isOpen}">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
        </div>
      </div>
    </header>
    <transition name="slide-fade">
      <div class="side-menu" v-if="isOpen" :class="{'active':isOpen}">
        <div class="bg-layers"> 
          <span></span> 
          <span></span> 
          <span></span> 
          <span></span> 
        </div>
        <ul>
          <li><a href="">Anasayfa</a></li>
          <li><a href="">Hakkımızda</a></li>
          <li><a href="">Hizmetlerimiz</a></li>
          <li><a href="">Projeler</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">İletişim</a></li>
        </ul>
      </div>
    </transition>
    <div class="social">
      <ul>
        <li><a :href="social.facebook"><i class="fab fa-facebook"></i></a></li>
        <li><a :href="social.instagram"><i class="fab fa-instagram"></i></a></li>
        <li><a :href="social.youtube"><i class="fab fa-youtube"></i></a></li>
        <li><a :href="social.linkedin"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'Navbar',
        data: () => {
            return {
                active:false,
                isOpen: false,
                social: {
                    facebook: 'https://www.facebook.com/webeyondcreative',
                    instagram: 'https://www.instagram.com/webeyondcreative',
                    youtube: 'https://www.youtube.com/webeyondcreative',
                    linkedin: 'https://www.linkedin.com/webeyondcreative',
                }             
            }
        },
    }
</script>

<style lang="less" scoped>
    @clrDark: #000;
    @clrMain: #E8273C;
    @clrSecond: #354d72;
    header {
        position: absolute;
        width: 100%;
        background: transparent;
        font-family: 'Fjalla One', sans-serif;
        z-index: 999;
        .header-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 20px 50px;
          .logo {
            width: 10%;
            img {
              width: 100%;
            }
          }
          .hamburger-menu {
            width: 10%;
            display: flex;
            justify-content: flex-end;
            b {
              color: white;
              display: inline-block;
              font-weight: 400;
              margin-right: 15px;
            }
            span.open-menu {
              display: inline-block;
              position: relative;
              width: 26px;
              height: 16px;
              cursor: pointer;
              span {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                background: @clrMain;
                z-index: 0;
                transition: .4s;
              }
              span:nth-child(1){
                top: 0px;
                width: 50%;
              }
              span:nth-child(2){
                top: 8px;
              }
              span:nth-child(3){
                width: 50%;
                top: 16px;
                right: 0;
                left: auto;
              }
              &:hover {
                span {
                  width: 100%;
                }
              }
              &.active {
                span:nth-child(1) {
                  top: 9px;
                  width: 100%;
                  transform: rotate(135deg);
                }
                span:nth-child(2) {
                  opacity: 0;
                  left: -15px;
                }
                span:nth-child(3) {
                  top: 9px;
                  width: 100%;
                  transform: rotate(-135deg);
                }
              }
            }
          }
        }
    }
    .side-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 998;
      display: flex;
      align-items: center;
      transition: .4s;
      justify-content: center;
      text-align: center;
      font-family: 'Poppins',sans-serif;
      background: @clrDark;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          display: block;
          padding: 20px;
          a {
            line-height: 1;
            font-size: 3vw;
            font-weight: 800;
            color: #fff;
            padding-bottom: 8px;
            border-bottom: 5px solid transparent;
            transition: .4s;
            &:hover {
              text-decoration: none;
              padding-bottom: 3px;
              border-bottom: 5px solid @clrMain;
              text-decoration: none;
              color: @clrMain;
            }
          }
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../assets/bg-noise.gif');
        opacity: 0.015;
        z-index: -1;
      }
    }
    .social {
      position: absolute;
      left: 40px;
      bottom: 20px;
      z-index: 999;
      ul {
        margin:0;
        padding: 0;
        li {
          list-style: none;
          display: inline-block;
          a {
            color: white;
            font-size: 16px;
            padding: 10px;
          }
        }
      }
    }
    .slide-fade-enter-active {
      transition: all .2s ease;
    }
    .slide-fade-leave-active {
      transition: all .4s cubic-bezier(1.0, 1.5, 1.8, 2.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
      transform: translateX(100px);
      opacity: 0;
    }
</style>