@import 'https://fonts.googleapis.com/css?family=Fjalla+One&display=swap&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap';
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body::selection {
    background-color: #4445a1 !important;
    color: white;
}

.custom-link {
    display: block;
    transition: all 0.5s;
}

.custom-link * {
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.custom-link a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    color: #0e0e0e;
}

.custom-link a:hover {
    text-decoration: none;
    color: #0e0e0e;
}

.custom-link b {
    font-weight: 600;
    display: inline-block;
    margin-left: 20px;
}

.custom-link .lines {
    width: 42px;
    height: 1px;
    float: left;
    overflow: hidden;
}

.custom-link .lines span:nth-child(1) {
    width: 100%;
    height: 1px;
    float: right;
    background: #0e0e0e;
}

.custom-link .lines span:nth-child(2) {
    width: 0;
    height: 1px;
    float: left;
    background: #0e0e0e;
}

.custom-link:hover .lines {
    width: 62px;
    margin-left: 20px;
}

.custom-link:hover .lines span:nth-child(1) {
    width: 0;
}

.custom-link:hover .lines span:nth-child(2) {
    width: 100%;
    transition-delay: 0.2s;
}