<template>
    <div class="contact-area">
        <div class="container">
            <div class="row align-itemcenter">
                <div class="col-md-6">
                    <div class="content">
                        <h4>{{subtitle}}</h4>
                        <h5>{{title}}</h5>
                        <p>{{description}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="" method="post">
                        <div class="form-row">
                            <div class="input-group col-6">
                                <input type="text" name="name" placeholder="İsminiz">
                            </div>
                            <div class="input-group col-6">
                                <input type="text" name="phone" placeholder="Telefon Numaranız">
                            </div>
                            <div class="input-group col-6">
                                <input type="text" name="email" placeholder="Email Adresi">
                            </div>
                            <div class="input-group col-6">
                                <input type="text" name="subject" placeholder="Konu">
                            </div>
                            <div class="input-group col-12">
                                    <textarea rows="5" name="message" placeholder="Mesajınız"></textarea>
                                </div>
                            <div class="col-12">
                                <button type="submit" value="submit">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {

        name: 'contact-area',
        data: () => {
            return {
                title: "Teklif Almak için Formu Doldurun",
                subtitle: "Projenizi Hemen Başlatın",
                description: "KENDİ İŞİMİZ GİBİ BENİMSER VE SÖZ VERDİĞİMİZ ZAMANDA BİTİRMEK ÜZERE MAKSİMUM ÇABA SARFEDERİZ.",
            }
        },
        methods: {
            
        }
    }
</script>

<style lang="less" scoped>
    @clrDark: #000;
    @clrMain: #E8273C;
    @clrSecond: #354d72;
    .contact-area {
        background: @clrMain;
        padding: 120px 0;
        font-family: 'Poppins',sans-serif;
        .content {
            color: white;
            h5 {
                margin-bottom: 60px;
                font-weight: 800;
                font-size: 60px;
                line-height: 1.2;
            }
            h4  {
                display: block;
                line-height: 1;
                margin-bottom: 20px;
                font-size: 14px;
                text-transform: uppercase;
            }
            p {
                margin-top: 5px;
                font-size: 20px;
                line-height: 40px;
                font-weight: 400;
                text-transform: uppercase;
                padding-right: 20%;
                margin-bottom: 40px;
            }
           
        }
        form {
            .input-group {
                input,textarea {
                    border: none;
                    background: transparent;
                    border: 2px solid white;
                    width: 100%;
                    color: white;
                    margin-bottom: 30px;
                    text-indent: 10px;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        color: rgba(255,255,255,.8);
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                input {
                    height: 50px;
                }
            }
            button[type="submit"] {
                background: white;
                font-size: 14px;
                color: #000;
                height: 40px;
                display: inline-block;
                padding: 0 50px;
                line-height: 40px;
                border: none;
                position: relative;
                font-weight: bold;
                &:before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    transition: .3s;
                    left: 5px;
                    width: 100%;
                    height: 100%;
                    border: 2px solid white;
                }
                &:focus {
                    outline: none;
                }
                &:hover:before {
                    transform: translate(-5px,-5px);
                }
            }
        }
    }
</style>