<template>
    <div class="slider">
        <swiper :options="swiperOption">
            <swiper-slide  v-tilt="{speed: 500, perspective: 1200}" class="item" v-for="(item, idx) in slider" :key="idx" :style="{ backgroundImage: `url(${backgroundUrl})` }">
                <div class="container">
                    <div class="line"></div>
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="caption">
                                <h5>{{item.subtitle}}</h5>
                                <h3>{{item.title}}</h3>
                                <div class="custom-link"> 
                                    <router-link to="/hakkimizda">
                                        <div class="lines"> 
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <b>{{item.buttonCaption}}</b>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <div class="swiper-pagination"  slot="pagination"></div>
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
        </swiper>
        <div class="scroll">
            <span @click="scrollToElement()" class="scrollButton">
                <span></span>
            </span>
        </div>
    </div>
</template>

<script>
    import backgroundUrl from '@/assets/slide01.jpg'
    import { swiper, swiperSlide } from 'vue-awesome-swiper'

    export default {
        name: 'intro',
        data: () => {
            return {
                backgroundUrl,
                swiperOption: {
                    loop: true,
                    speed: 1000,
                    parallax: true,
                        autoplay: {
                        delay: 3500,
                        disableOnInteraction: false,
                    },
                    grabCursor: true,
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'fraction',
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    }
                },
                slider: [
                    {title: "We increase products & brands values", subtitle: "This is Subtitle", buttonCaption: "Hakkımızda"}, 
                    {title: "We Create Creative Revolution", subtitle: "This is Second Subtitle", buttonCaption: "hizmetlerimiz"}, 
                    {title: "Crafting Digital Experience to help Brands Grow", subtitle: "This is Third Subtitle", buttonCaption: "iletisim",}
                ],
            }
        },
        methods: {
            scrollToElement() {
                const el = document.getElementById('about');
                if (el) {
                el.scrollIntoView(false);
                }
            }
        },
        components: {
            swiper,
            swiperSlide
        }
    }
</script>

<style lang="less" scope>
    @clrDark: #000;
    @clrMain: #E8273C;
    @clrSecond: #354d72;
    @keyframes upDowwn {
        0% {
            transform: translate(-50%,0);
        }
        50% {
            transform: translate(-50%,5px);
        }
        100% {
            transform: translate(-50%,0);
        }
    }
    .slider {
        position: relative;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        .item {
            height: 100vh;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            display: flex;
            align-items: center;
            background-position: center center;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../../assets/dots.png');
                opacity: 0.25;
                z-index: 1;
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.3) !important;
                opacity: 0.03;
                z-index: 2;
            }
            .container {
                position: relative;
                min-height: 60vh;
                display: flex;
                align-items: center;
                .line {
                    position: absolute;
                    top: 0;
                    left: -50px;
                    width: 30%;
                    height: 100%;
                    border: 8px solid @clrMain;
                    z-index: 1;
                }
            }
            .caption {
                position: relative;
                z-index: 99;
                h5 {
                    font-size: 36px;
                    color: #fff;
                    margin-bottom: 30px;
                    position: relative;
                    font-weight: 100;
                    text-transform: uppercase;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 90px;
                        height: 6px;
                        background: #fff;
                        left: -100px;
                        bottom: 20px;
                        z-index: 1;
                    }
                }
                h3 {
                    font-size: 60px;
                    line-height: 1.2;
                    color: #fff;
                    font-weight: 700;
                    margin-bottom: 40px;
                    text-transform: uppercase;
                }
                p {
                    color: #f1f1f1;
                    font-size: 16px;
                }
                a {
                    color: white;
                    text-transform: uppercase;
                    .lines {
                        span {
                            background: white;
                        }
                    }
                }
            }
        }
        .swiper-pagination-fraction {
            width: 100px;
            position: absolute;
            left: auto;
            right: 40px;
            bottom: 20px;
            color: #fff;
            text-align: right;
            .swiper-pagination-current {
                font-size: 50px;
                font-weight: 800;
                &:before {
                    content: "0";
                }
            }
            .swiper-pagination-total {
                font-size: 15px;
                font-weight: 600;
                opacity: 0.7;
            }
        }
        .swiper-button-prev, .swiper-button-next {
            background-image: url('../../assets/arrow.svg');
            width: 40px;
            height: 40px;
            background-size: cover;
            &:focus {
                outline: none;
            }
        }
        .swiper-button-prev {
            left: 50px;
            transform-origin: center;
            transform: rotate(180deg);
        }
        .swiper-button-next {
            right: 50px;
        }
        .slide-fade-enter-active {
            transition: all .2s ease;
        }
        .slide-fade-leave-active {
            transition: all .4s cubic-bezier(1.0, 1.5, 1.8, 2.0);
        }
        .slide-fade-enter, .slide-fade-leave-to
            /* .slide-fade-leave-active below version 2.1.8 */ {
            transform: translateX(100px);
            opacity: 0;
        }
        .scroll {
            position: absolute;
            bottom: 30px;
            left: 0;
            width: 100%;
            z-index: 1;
            .scrollButton {
                display: block;
                margin: 0 auto;
                height: 50px;
                width: 30px;
                border-radius: 15px;
                border: 2px solid white;
                position: relative;
                cursor: pointer;
                span {
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translate(-50%,0);
                    width: 2px;
                    height: 8px;
                    background: white;
                    animation: upDowwn 2s linear infinite;
                }
            }
        }
    }
</style>