<template>
  <div class="h-blog" >
      <div class="container">
          <div class="blog-title">
            <h5>{{ subtitle }}</h5>
            <h3 data-title="Blog">{{ title }}</h3>
          </div>
          <div class="row">
              <div class="col-md-4" v-for="(item,vib) in articles" :key="vib">
                <div class="blog-card">
                    <a href="">
                        <div class="card-image">
                            <div class="image">
                                <img :src="item.imgUrl" :alt="item.title">
                            </div>
                        </div>
                        <div class="body">
                            <h3>{{item.title}}</h3>
                            <span class="seperator"></span>
                            <p>{{item.description}}</p>
                        </div>
                        <a class="link" href="#"><span>Devamını Gör</span></a>
                    </a>
                </div>
              </div>
          </div>
          <div class="custom-link text-center mt-5"> <a href="#">
                <div class="lines"> 
                    <span></span>
                    <span></span>
                </div>
                <b>TÜMÜNÜ GÖR</b></a> 
            </div>
      </div>
  </div>
</template>

<script>

export default {
    data: ()=> {
        return {
            title: "Güncel Bloğumuz",
            subtitle: "Haberler, etkinlikler, düşünceler, destek ve diğer konularda yazılarımız",
            articles: [
                {id:1, title: "Below is a collection of simple to complex examples.", description : "Flat buttons have no box shadow and no background. Only on hover is the container for the button shown.", imgUrl: require("@/assets/works/1.jpg")},
                {id:1, title: "Below is a collection of simple to complex examples.", description : "Flat buttons have no box shadow and no background. Only on hover is the container for the button shown.", imgUrl: require("@/assets/works/4.jpg")},
                {id:1, title: "Below is a collection of simple to complex examples.", description : "Flat buttons have no box shadow and no background. Only on hover is the container for the button shown.", imgUrl: require("@/assets/works/3.jpg")},
            ] 
        }
    }
}
</script>

<style lang="less" scoped>
    @clrDark: #000;
    @clrMain: #E8273C;
    @clrSecond: #354d72;
    .h-blog {
        padding: 80px 0;
        font-family: 'Poppins',sans-serif;
        position: relative;
        .blog-title {
            margin-bottom: 50px;
            h3 {
                margin-bottom: 60px;
                font-weight: 800;
                font-size: 60px;
                line-height: 1.2;
                &:before {
                    content: attr(data-title);
                    font-size: 12vw;
                    opacity: 0.05;
                    z-index: -1;
                    position: absolute;
                    left: 100px;
                    transform-origin:left;
                    transform: rotate(90deg);
                    top: 50px;
                }
            }
            h5 {
                display: block;
                line-height: 1;
                margin-bottom: 20px;
                opacity: 0.5;
                font-size: 14px;
            }
        }
        .blog-card {
            position: relative;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            margin: 0 auto;
            display: block;
            transition: all .5s;
            &:hover {
                >a {
                    transform: translateY(-30px);
                    .body h3 {
                        color:@clrMain;
                    }
                    >a.link {
                        transform: translateY(40px);
                    }
                }
            }
            >a {
                background: #fff;
                box-shadow: 0 9px 22px 0 rgba(28,48,87,.1);
                position: relative;
                z-index: 2;
                transition: all .4s ease-in-out;
                display: block;
                &:hover {
                    text-decoration: none;
                }   
                .card-image {
                    padding: 13px 20px 17px;
                    position: relative;
                    z-index: 2;
                    .image {
                        position: relative;
                        max-height: 250px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            pointer-events: none;
                            user-select: none;
                        }
                    }
                }
                .body {
                    padding: 18px 20px 18px;
                    background: white;
                    h3 {
                        color: @clrSecond;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 1.3em;
                        margin-bottom: 8px;
                        transition: color .3s;
                        min-height: 46px;
                        display: flex;
                        align-items: center;
                    }
                    p {
                        font-size: 14px;
                        color: @clrDark;
                    }
                    .seperator {
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #dae5ee;
                        margin: 10px 0;
                    }
                }
                >a.link {
                    background: white;
                    color: #fff;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 60px;
                    line-height: 95px;
                    font-weight: 300;
                    font-size: 12px;
                    text-transform: uppercase;
                    transform: translateY(-10px);
                    transition: all .4s ease-in-out;
                    text-align: center;
                    z-index: -1;
                    &:hover {
                        text-decoration: none;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        top: 25px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 90%;
                        height: 75%;
                        background: @clrSecond;
                    }
                    span {
                        position: relative;
                        z-index: 1;
                        display: block;
                    }
                }
            }
        }
    }
</style>